
@{
    ViewData["Title"] = "Index";
}
<center> <h1>Listado de los agentes</h1> </center>

<div class="card shadow-sm">
      <div class="card-body">
 <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">rol</th>
                <th scope="col">Cantidad de propiedades</th>
                <th scope="col">Correo</th>
               
            </tr>
        </thead>
   @*     <tbody>
            @foreach(var data in Model){
                <tr>
                    <th scope="row">@data.Code</th>
                    <td>@data.EstateTypes.Name</td>
                    <td>@data.EstatesImgs.FirstOrDefault().ImgUrl</td>
                    <td>@data.Code</td>c
                    <td>@data.SellTypes.Name</td>
                    <td>@data.Price</td>
                    
                </tr>
            }
        </tbody>*@
        
     </table>
     </div>
          </div>