@model List<Core.Application.DTOS.Estates.EstateRequest>


<div class="Container">

    <div class="row align-items-start" style="margin-bottom: 65px">
        <div class="class="m-4 border border-primary rounded"">
            <div class="row g-0 text-center">
              <div class="col-5">
                    <img src=@Model.FirstOrDefault().Agente.ImageProfile style="height: 200px" class="rounded" alt="...">
              </div>
              <div class="col-7">
                  @Model.FirstOrDefault().Agente.Name @Model.FirstOrDefault().Agente.LastName
                  <a href="mailto:@Model.FirstOrDefault().Agente.Email" class="h4 btn">Contact Agent</a>
              </div>
            </div>
        </div>
        @foreach(var data in Model){
            <div class="col-4" style="margin-bottom: 15px; margin-top: 30px">
                <div class="card shadow-sm" asp-controller="General" asp-action="Estate" asp-route-code="@data.Code">
                    <img class="bd-placeholder-img card-img-top img-Pokemon-size" style="height: 250px" src="@data.EstatesImgs.FirstOrDefault().ImgUrl"/>
                    <div class="card-body">
                        <h2>@data.EstateTypes.Name</h2>
                        <p class="card-text h5">Sell type: @data.SellTypes.Name</p>
                        <p class="card-text h5">Price: @data.Price</p>
                        <p class="card-text h5">Rooms: @data.Rooms</p>
                        <div>
                            <small class="fw-bold fs-6">Toilets: </small>
                            <small class="fs-6">@data.Toilets</small>
                            <small class="fw-bold fs-6">Tamaño: </small>
                            <small class="fs-6">@data.Area</small>
                        </div>
                        @if(ViewBag.IsLoggin){
                            @if(data.FavoriteId != null && data.FavoriteId != 0){
                                <a class="btn btn-outline-success position-absolute bottom-0 end-0" asp-controller="Client" asp-action="DellFavorite" asp-route-FavId=@data.FavoriteId> DellFav</a>
                            }
                            @if(data.FavoriteId == null || data.FavoriteId == 0){
                                <a class="btn btn-outline-success position-absolute bottom-0 end-0" asp-controller="Client" asp-action="AddFav" asp-route-EstateId=@data.Id> AddFav</a>
                            }
                        }
                        <a class="btn btn-outline-dark me-2 position-absolute top-100 start-50 translate-middle" asp-controller="General" asp-action="Estate" asp-route-code="@data.Code">
                            More
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

