@model Core.Application.DTOS.Estates.EstateRequest


<div class="Container">
    <div>
        @Model.Area
        @Model.Code
        @Model.Description
        @Model.EstateTypes
        @Model.Price
        @Model.Toilets
        @Model.AgentId
        @Model.SellTypes
        @Model.Rooms
    </div>
</div>
