@model Core.Application.DTOS.Estates.EstateRequest


<div class="Container">
    <div>
        @Model.Area
        @Model.Code
        @Model.Description
        @Model.EstateTypes.Name
        @Model.Price
        @Model.Toilets
        @Model.AgentId
        @Model.SellTypes.Name
        @Model.Rooms
        @foreach(var imgs in  Model.EstatesImgs){
            @imgs.ImgUrl
        }
        @foreach(var features in  Model.FeaturesRelations){
            @features.Features.Name
        }
    </div>
</div>
