@model List<Core.Application.DTOS.Estates.EstateRequest>


<div class="Container">
    <div class="m-4 border border-primary rounded">
        <form class="m-3">
            <div class="btn-group m-4" role="group" aria-label="Button group with nested dropdown">
              <select class="form-select" name="SellTypeId" aria-label="Default select example">
                <option selected>EstateType</option>
                    @foreach(var data in ViewBag.EstateTypes)
                    {
                        <option value=@data.Name>@data.Name</option>
                    }
              </select>
              <div class="input-group input-group-sm">
                <div class="input-group-text" name="MinPrice">MinPrice</div>
                <input type="number" step="any" name="MinPrice" class="form-control" placeholder="MinPrice" aria-label="Input group example" aria-describedby="btnGroupAddon">
              </div>
              <div class="input-group input-group-sm">
                <div class="input-group-text" name="MaxPrice">MaxPrice</div>
                <input type="number" step="any" name="MaxPrice" class="form-control" placeholder="MaxPrice" aria-label="Input group example" aria-describedby="btnGroupAddon">
              </div>
              <div class="input-group input-group-sm">
                <div class="input-group-text"  name="Toilets" >Toilets</div>
                <input type="number" step="any" class="form-control" name="Toilets" placeholder="Toilets" aria-label="Input group example" aria-describedby="btnGroupAddon">
              </div>
              <div class="input-group input-group-sm">
                <div class="input-group-text" name="Rooms">Rooms</div>
                <input type="number" step="any" name="Rooms" class="form-control" placeholder="Rooms" aria-label="Input group example" aria-describedby="btnGroupAddon">
              </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Filter</button>
        </form>
    </div>
    <div class="row align-items-start">
        @foreach(var data in Model){
            <div class="col-4" style="margin-bottom: 15px; margin-top: 30px; width:390px;">
                <div class="card shadow-sm" asp-controller="General" asp-action="Estate" asp-route-code="@data.Code">
                    <img class="bd-placeholder-img card-img-top img-Pokemon-size" style="height: 250px" src="@data.EstatesImgs.FirstOrDefault().ImgUrl"/>
                    <div class="card-body">
                        <h2>@data.EstateTypes.Name</h2>
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="card-text h5">Sell type: @data.SellTypes.Name</p>
                                <p class="card-text h5">Price: @data.Price</p>
                                <p class="card-text h5">Rooms: @data.Rooms</p>
                                <div>
                                    <small class="fw-bold fs-6">Toilets: </small>
                                    <small class="fs-6">@data.Toilets</small>
                                    <small class="fw-bold fs-6">Tamaño: </small>
                                    <small class="fs-6">@data.Area</small>
                                </div>
                            </div>
                            <div class="position-absolute bottom-0 end-0">

                                <a class="btn btn-outline-dark me-2 translate-middle" asp-controller="General" asp-action="Estate" asp-route-code="@data.Code">
                                    More
                                </a>
                                @if(ViewBag.IsLoggin){
                                    @if(data.FavoriteId != 0){
                                        <a class="btn btn-outline-success " asp-controller="Client" asp-action="DellFavorite" asp-route-FavId=@data.FavoriteId> DellFav</a>
                                    }
                                    @if(data.FavoriteId == 0){
                                        <a class="btn btn-outline-success translate-middle " asp-controller="Client" asp-action="AddFav" asp-route-EstateId=@data.Id> AddFav</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
