@model List<Core.Application.DTOS.Estates.EstateRequest>

<div class="Container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TipoDePropiedad</th>
                <th scope="col">ImagenDeLaPropiedad</th>
                <th scope="col">CodigoDeLaPropiedad</th>
                <th scope="col">TipoDeVenta</th>
                <th scope="col">ValorDeLaPropiedad</th>
                <th scope="col">CantidadDeHabitaciones</th>
                <th scope="col">CantidadDeBaños</th>
                <th scope="col">Tamaño</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var data in Model){
                <tr>
                    <th scope="row">ID</th>
                    <td>@data.EstateTypes.Name</td>
                    <td>LinkuImg</td>
                    <td>@data.Code</td>c
                    <td>@data.SellTypes.Name</td>
                    <td>@data.Price</td>
                    <td>@data.Rooms</td>
                    <td>@data.Toilets</td>
                    <td>@data.Area</td>
                </tr>
            }
        </tbody>
     </table>
</div>
