@model List<Core.Application.DTOS.Estates.EstateRequest>

<div class="Container">
    <div>
        <form asp-controller="General" asp-action="Index">

        </form>
    </div>
        @foreach(var data in Model){
    <div class="col-4">
                    <div class="card shadow-sm">
                       @* <img class="bd-placeholder-img card-img-top img-Pokemon-size" src="@data.EstatesImgs.FirstOrDefault().ImgUrl"/>*@
                        <div class="card-body">
                         <h4 >@data.EstateTypes.Name</h4>
                            <p class="card-text">Codigo: @data.Code</p>
                            <p class="card-text">TipoDeVenta: @data.SellTypes.Name</p>
                            <p class="card-text">Precio: @data.Price</p>
                            <p class="card-text">Habitaciones: @data.Rooms</p>
                            <div>
                             <small class="fw-bold fs-6">Baños: </small>
                             <small class="fs-6">@data.Toilets</small>
                             <small class="fw-bold fs-6">Tamaño: </small>
                             <small class="fs-6">@data.Area</small>
                             <small class="fw-bold fs-6">Informacion: </small>
                             <small class="fs-6"><a class="btn btn-outline-dark me-2" asp-controller="General" asp-action="Estate" asp-route-code="@data.Code">Aqui</a></small>
                             
                             </div>
                        </div>
                    </div>
                 </div>
                 }
    @*<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TipoDePropiedad</th>
                <th scope="col">ImagenDeLaPropiedad</th>
                <th scope="col">CodigoDeLaPropiedad</th>
                <th scope="col">TipoDeVenta</th>
                <th scope="col">ValorDeLaPropiedad</th>
                <th scope="col">CantidadDeHabitaciones</th>
                <th scope="col">CantidadDeBaños</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Info</th>
                @if(ViewBag.IsLoggin == true)
                {
                    <th scope="col">AddToFavorite</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var data in Model){
                <tr>
                    <th scope="row">@data.Code</th>
                    <td>@data.EstateTypes.Name</td>
                   @* <td>@data.EstatesImgs.FirstOrDefault().ImgUrl</td>
                    <td>@data.Code</td>c
                    <td>@data.SellTypes.Name</td>
                    <td>@data.Price</td>
                    <td>@data.Rooms</td>
                    <td>@data.Toilets</td>
                    <td>@data.Area</td>
                    <td><a class="btn" asp-controller="General" asp-action="Estate" asp-route-code="@data.Code"> Info </a></td>
                    @if(ViewBag.IsLoggin == true)
                    {
                        <td><a class="btn" asp-controller="Client" asp-action="AddFav" asp-route-EstateId="@data.Id"> Add </a></td>
                    }
                </tr>
            }
        </tbody>
     </table>*@
</div>
